<h1>My individual place summary</h1>

  <ul>
   
    <li>
     <%= @place.name %></a>
    </li>
   
  </ul>

<h3>Contacts</h3>

  <ul>
  <% for post in @place.posts %>
    <li>
      <%= "#{post.title} %> <%= #{post.description} %> <%= #{post.posted_on} %> <%= #{post.place_id}" %>
    </li>
  <% end %>
  </ul>

 <p><a href= "/posts/new?place_id= <%= @place.id %>"> Add new post for this trip</a></p>